### Microwrites experiment

main parameters: filesize=1K, blocksize=1K, number of files=1024*1024

### Ext4 on HDD

#### 1K
Start time: 2025-05-12 21:51:58
Numer of files: 1048576
Fio numjobs: 1024
Loop times: 1024
Storage directory: /data/HDD_Sdd_data/microwrites_ext4
Log directory: /tmp/fio_logs_3967698

Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
progress:  100/1024 cycles (9% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
progress:  200/1024 cycles (19% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
progress:  300/1024 cycles (29% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
progress:  400/1024 cycles (39% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  500/1024 cycles (48% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  600/1024 cycles (58% have been completed.)
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  700/1024 cycles (68% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  800/1024 cycles (78% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  900/1024 cycles (87% have been completed.)
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
progress:  1000/1024 cycles (97% have been completed.)
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/microwrites_ext4
Blocksize(bs): 1K
The number of generated files: 1048576
The size of single file: 1K
Total elapsed time: 0hour 16minutes 42seconds
Average speed: 1.02 MB/s
Average file generation speed: 1046 files/s


#### 2K

Start time: 2025-05-12 23:08:04
Numer of files: 524288
Fio numjobs: 1024
Loop times: 512
Storage directory: /data/HDD_Sdd_data/microwrites_ext4
Log directory: /tmp/fio_logs_2691862

Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 7168, Speed: 651 files/s
progress:  100/512 cycles (19% have been completed.)
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 7168, Speed: 651 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
^[[CFiles generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
progress:  200/512 cycles (39% have been completed.)
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 7168, Speed: 651 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
progress:  300/512 cycles (58% have been completed.)
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 7168, Speed: 651 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 12 seconds: 6144, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
progress:  400/512 cycles (78% have been completed.)
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
progress:  500/512 cycles (97% have been completed.)
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/microwrites_ext4
Blocksize(bs): 1K
The number of generated files: 524288
The size of single file: 2K
Total elapsed time: 0hour 14minutes 50seconds
Average speed: 1.15 MB/s
Average file generation speed: 589 files/s


#### 4K

Start time: 2025-05-12 23:45:47
Numer of files: 262144
Fio numjobs: 1024
Loop times: 256
Storage directory: /data/HDD_Sdd_data/microwrites_ext4
Log directory: /tmp/fio_logs_3568210

Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 12 seconds: 5120, Speed: 426 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
progress:  100/256 cycles (39% have been completed.)
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 12 seconds: 5120, Speed: 426 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
progress:  200/256 cycles (78% have been completed.)
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 12 seconds: 5120, Speed: 426 files/s
Files generated in the last 12 seconds: 5120, Speed: 426 files/s
Files generated in the last 12 seconds: 5120, Speed: 426 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 12 seconds: 6144, Speed: 512 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/microwrites_ext4
Blocksize(bs): 1K
The number of generated files: 262144
The size of single file: 4K
Total elapsed time: 0hour 9minutes 7seconds
Average speed: 1.87 MB/s
Average file generation speed: 479 files/s




### XFS on HDD

#### 1K
Start time: 2025-05-12 21:33:02
Numer of files: 1048576
Fio numjobs: 1024
Loop times: 1024
Storage directory: /data/HDD_Sdc_XFS_data/microwrites_xfs
Log directory: /tmp/fio_logs_2800170

Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  100/1024 cycles (9% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  200/1024 cycles (19% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  300/1024 cycles (29% have been completed.)
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 8192, Speed: 819 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
progress:  400/1024 cycles (39% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 9216, Speed: 837 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  500/1024 cycles (48% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
progress:  600/1024 cycles (58% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  700/1024 cycles (68% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  800/1024 cycles (78% have been completed.)
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  900/1024 cycles (87% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  1000/1024 cycles (97% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s

================ Final statistical report ================
Storage directory: /data/HDD_Sdc_XFS_data/microwrites_xfs
Blocksize(bs): 1K
The number of generated files: 1048576
The size of single file: 1K
Total elapsed time: 0hour 17minutes 35seconds
Average speed: 993.91 KB/s
Average file generation speed: 993 files/s


#### 2K

Start time: 2025-05-12 22:31:04
Numer of files: 524288
Fio numjobs: 1024
Loop times: 512
Storage directory: /data/HDD_Sdc_XFS_data/microwrites_xfs
Log directory: /tmp/fio_logs_2107891

Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 12 seconds: 6144, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
progress:  100/512 cycles (19% have been completed.)
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 12 seconds: 5120, Speed: 426 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
progress:  200/512 cycles (39% have been completed.)
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
progress:  300/512 cycles (58% have been completed.)
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 12 seconds: 6144, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
progress:  400/512 cycles (78% have been completed.)
Files generated in the last 12 seconds: 5120, Speed: 426 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 10 seconds: 6144, Speed: 614 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 12 seconds: 6144, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 12 seconds: 6144, Speed: 512 files/s
Files generated in the last 12 seconds: 6144, Speed: 512 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
Files generated in the last 11 seconds: 6144, Speed: 558 files/s
progress:  500/512 cycles (97% have been completed.)
Files generated in the last 10 seconds: 5120, Speed: 512 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 5120, Speed: 512 files/s

================ Final statistical report ================
Storage directory: /data/HDD_Sdc_XFS_data/microwrites_xfs
Blocksize(bs): 1K
The number of generated files: 524288
The size of single file: 2K
Total elapsed time: 0hour 16minutes 52seconds
Average speed: 1.01 MB/s
Average file generation speed: 518 files/s


#### 4K

Start time: 2025-05-12 23:32:15
Numer of files: 262144
Fio numjobs: 1024
Loop times: 256
Storage directory: /data/HDD_Sdc_XFS_data/microwrites_xfs
Log directory: /tmp/fio_logs_3276295

Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 12 seconds: 5120, Speed: 426 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 12 seconds: 4096, Speed: 341 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 12 seconds: 5120, Speed: 426 files/s
Files generated in the last 12 seconds: 5120, Speed: 426 files/s
Files generated in the last 12 seconds: 4096, Speed: 341 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 12 seconds: 4096, Speed: 341 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 12 seconds: 4096, Speed: 341 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
progress:  100/256 cycles (39% have been completed.)
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 12 seconds: 4096, Speed: 341 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 12 seconds: 4096, Speed: 341 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 12 seconds: 4096, Speed: 341 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 12 seconds: 4096, Speed: 341 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 12 seconds: 5120, Speed: 426 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 12 seconds: 4096, Speed: 341 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 10 seconds: 3072, Speed: 307 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 11 seconds: 5120, Speed: 465 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
progress:  200/256 cycles (78% have been completed.)
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 12 seconds: 4096, Speed: 341 files/s
Files generated in the last 13 seconds: 5120, Speed: 393 files/s
Files generated in the last 11 seconds: 4096, Speed: 372 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 12 seconds: 5120, Speed: 426 files/s
Files generated in the last 12 seconds: 4096, Speed: 341 files/s
Files generated in the last 12 seconds: 4096, Speed: 341 files/s
Files generated in the last 12 seconds: 4096, Speed: 341 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s
Files generated in the last 10 seconds: 4096, Speed: 409 files/s

================ Final statistical report ================
Storage directory: /data/HDD_Sdc_XFS_data/microwrites_xfs
Blocksize(bs): 1K
The number of generated files: 262144
The size of single file: 4K
Total elapsed time: 0hour 11minutes 19seconds
Average speed: 1.51 MB/s
Average file generation speed: 386 files/s




### LSMFS on HDD

#### 1K

Start time: 2025-05-12 20:32:24
Numer of files: 1048576
Fio numjobs: 1024
Loop times: 1024
Storage directory: /data/HDD_Sdd_data/lsmfs_test8
Log directory: /tmp/fio_logs_1606797

Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
progress:  100/1024 cycles (9% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
progress:  200/1024 cycles (19% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 11264, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  300/1024 cycles (29% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
progress:  400/1024 cycles (39% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
progress:  500/1024 cycles (48% have been completed.)
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  600/1024 cycles (58% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 11264, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  700/1024 cycles (68% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  800/1024 cycles (78% have been completed.)
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
progress:  900/1024 cycles (87% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 11 seconds: 11264, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
progress:  1000/1024 cycles (97% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/lsmfs_test8
Blocksize(bs): 1K
The number of generated files: 1048576
The size of single file: 1K
Total elapsed time: 0hour 16minutes 39seconds
Average speed: 1.03 MB/s
Average file generation speed: 1049 files/s

#### 1K -512MB

Start time: 2025-05-22 15:18:23
Numer of files: 1048576
Fio numjobs: 1024
Loop times: 1024
Storage directory: /data/HDD_Sdd_data/lsmfs_low_level
Log directory: /tmp/fio_logs_3920895

Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  100/1024 cycles (9% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  200/1024 cycles (19% have been completed.)
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  300/1024 cycles (29% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  400/1024 cycles (39% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  500/1024 cycles (48% have been completed.)
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  600/1024 cycles (58% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 11 seconds: 11264, Speed: 1024 files/s
progress:  700/1024 cycles (68% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
progress:  800/1024 cycles (78% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 9216, Speed: 837 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  900/1024 cycles (87% have been completed.)
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
progress:  1000/1024 cycles (97% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/lsmfs_low_level
Blocksize(bs): 1K
The number of generated files: 1048576
The size of single file: 1K
Total elapsed time: 0hour 17minutes 22seconds
Average speed: 1006.31 KB/s
Average file generation speed: 1006 files/s


#### 2K

Start time: 2025-05-12 23:58:31
Numer of files: 524288
Fio numjobs: 1024
Loop times: 512
Storage directory: /data/HDD_Sdd_data/lsmfs_test8
Log directory: /tmp/fio_logs_3861445

Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
progress:  100/512 cycles (19% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
progress:  200/512 cycles (39% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  300/512 cycles (58% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  400/512 cycles (78% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
progress:  500/512 cycles (97% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/lsmfs_test8
Blocksize(bs): 1K
The number of generated files: 524288
The size of single file: 2K
Total elapsed time: 0hour 8minutes 33seconds
Average speed: 2.00 MB/s
Average file generation speed: 1022 files/s

#### 2K -512MB

Start time: 2025-05-22 15:55:09
Numer of files: 524288
Fio numjobs: 1024
Loop times: 512
Storage directory: /data/HDD_Sdd_data/lsmfs_low_level
Log directory: /tmp/fio_logs_908387

Files generated in the last 11 seconds: 9216, Speed: 837 files/s
Files generated in the last 10 seconds: 11264, Speed: 1126 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
progress:  100/512 cycles (19% have been completed.)
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  200/512 cycles (39% have been completed.)
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
progress:  300/512 cycles (58% have been completed.)
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
progress:  400/512 cycles (78% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
progress:  500/512 cycles (97% have been completed.)
Files generated in the last 10 seconds: 9216, Speed: 921 files/s

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/lsmfs_low_level
Blocksize(bs): 1K
The number of generated files: 524288
The size of single file: 2K
Total elapsed time: 0hour 9minutes 4seconds
Average speed: 1.88 MB/s
Average file generation speed: 963 files/s


#### 4K

Start time: 2025-05-13 10:19:12
Numer of files: 262144
Fio numjobs: 1024
Loop times: 256
Storage directory: /data/HDD_Sdd_data/lsmfs_test8
Log directory: /tmp/fio_logs_254060

Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
progress:  100/256 cycles (39% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
progress:  200/256 cycles (78% have been completed.)
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/lsmfs_test8
Blocksize(bs): 1K
The number of generated files: 262144
The size of single file: 4K
Total elapsed time: 0hour 4minutes 19seconds
Average speed: 3.95 MB/s
Average file generation speed: 1012 files/s



#### 4K -512MB

Start time: 2025-05-22 14:53:44
Numer of files: 262144
Fio numjobs: 1024
Loop times: 256
Storage directory: /data/HDD_Sdd_data/lsmfs_low_level
Log directory: /tmp/fio_logs_3619854

Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 11 seconds: 10240, Speed: 930 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
progress:  100/256 cycles (39% have been completed.)
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
progress:  200/256 cycles (78% have been completed.)
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 9216, Speed: 921 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s
Files generated in the last 10 seconds: 10240, Speed: 1024 files/s

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/lsmfs_low_level
Blocksize(bs): 1K
The number of generated files: 262144
The size of single file: 4K
Total elapsed time: 0hour 4minutes 28seconds
Average speed: 3.82 MB/s
Average file generation speed: 978 files/s






