### Ext4 on HDD

#### filesize=1K, blocksize=1K, files=1024 * 1024 

before:		/dev/sdd1       3.6T   29G  3.4T   1% /data/HDD_Sdd_data
after:		/dev/sdd1       3.6T   33G  3.4T   1% /data/HDD_Sdd_data

作业开始时间: 2025-05-07 12:08:42
目标生成文件数: 1048576
每次生成文件数: 512
总循环次数: 2048
存储目录: /data/HDD_Sdd_data/spaceoverheads_1K
临时日志目录: /tmp/fio_logs_3958561

进度: 已完成 100/2048 个循环 (4%)
进度: 已完成 200/2048 个循环 (9%)
进度: 已完成 300/2048 个循环 (14%)
进度: 已完成 400/2048 个循环 (19%)
进度: 已完成 500/2048 个循环 (24%)
进度: 已完成 600/2048 个循环 (29%)
进度: 已完成 700/2048 个循环 (34%)
进度: 已完成 800/2048 个循环 (39%)
进度: 已完成 900/2048 个循环 (43%)
进度: 已完成 1000/2048 个循环 (48%)
进度: 已完成 1100/2048 个循环 (53%)
进度: 已完成 1200/2048 个循环 (58%)
进度: 已完成 1300/2048 个循环 (63%)
进度: 已完成 1400/2048 个循环 (68%)
进度: 已完成 1500/2048 个循环 (73%)
进度: 已完成 1600/2048 个循环 (78%)
进度: 已完成 1700/2048 个循环 (83%)
进度: 已完成 1800/2048 个循环 (87%)
进度: 已完成 1900/2048 个循环 (92%)
进度: 已完成 2000/2048 个循环 (97%)

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/spaceoverheads_1K
Blocksize(bs): 1K
实际生成文件数: 1048576
Size of single file: 1K
Theoretical size: 1.00 GB
The actual occupied space size: 4.1G
Space magnification ratio: 4.10x
Total elapsed time: 0小时28分40秒
Average speed: 609.64 KB/s
The amount of data written to disk: 4.63 GB


#### filesize=2K, blocksize=1K, files=1024 * 1024 / 2

before:	/dev/sdd1       3.6T   33G  3.4T   1% /data/HDD_Sdd_data
after:	/dev/sdd1       3.6T   35G  3.4T   2% /data/HDD_Sdd_data

作业开始时间: 2025-05-07 13:02:20
目标生成文件数: 524288
每次生成文件数: 512
总循环次数: 1024
存储目录: /data/HDD_Sdd_data/spaceoverheads_2K
临时日志目录: /tmp/fio_logs_1050469

进度: 已完成 100/1024 个循环 (9%)
进度: 已完成 200/1024 个循环 (19%)
进度: 已完成 300/1024 个循环 (29%)
进度: 已完成 400/1024 个循环 (39%)
进度: 已完成 500/1024 个循环 (48%)
进度: 已完成 600/1024 个循环 (58%)
进度: 已完成 700/1024 个循环 (68%)
进度: 已完成 800/1024 个循环 (78%)
进度: 已完成 900/1024 个循环 (87%)
进度: 已完成 1000/1024 个循环 (97%)

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/spaceoverheads_2K
Blocksize(bs): 1K
实际生成文件数: 524288
Size of single file: 2K
Theoretical size: 1.00 GB
The actual occupied space size: 2.1G
Space magnification ratio: 2.10x
Total elapsed time: 0小时16分26秒
Average speed: 1.04 MB/s
The amount of data written to disk: 2.80 GB


#### filesize=4K, blocksize=1K, files=1024 * 1024 / 4

before:	/dev/sdd1       3.6T   35G  3.4T   2% /data/HDD_Sdd_data
after:	/dev/sdd1       3.6T   36G  3.4T   2% /data/HDD_Sdd_data

作业开始时间: 2025-05-07 14:57:51
目标生成文件数: 262144
每次生成文件数: 512
总循环次数: 512
存储目录: /data/HDD_Sdd_data/spaceoverheads_4K
临时日志目录: /tmp/fio_logs_1693458

进度: 已完成 100/512 个循环 (19%)
进度: 已完成 200/512 个循环 (39%)
进度: 已完成 300/512 个循环 (58%)
进度: 已完成 400/512 个循环 (78%)
进度: 已完成 500/512 个循环 (97%)

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/spaceoverheads_4K
Blocksize(bs): 1K
实际生成文件数: 262144
Size of single file: 4K
Theoretical size: 1.00 GB
The actual occupied space size: 1.1G
Space magnification ratio: 1.10x
Total elapsed time: 0小时8分49秒
Average speed: 1.94 MB/s
The amount of data written to disk: 1.91 GB


#### filesize=8K, blocksize=1K, files=1024 * 1024 / 8

before:	/dev/sdd1       3.6T   36G  3.4T   2% /data/HDD_Sdd_data
after:	/dev/sdd1       3.6T   37G  3.4T   2% /data/HDD_Sdd_data

作业开始时间: 2025-05-07 15:14:58
目标生成文件数: 131072
每次生成文件数: 512
总循环次数: 256
存储目录: /data/HDD_Sdd_data/spaceoverheads_8K
临时日志目录: /tmp/fio_logs_2015034

进度: 已完成 100/256 个循环 (39%)
进度: 已完成 200/256 个循环 (78%)

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/spaceoverheads_8K
Blocksize(bs): 1K
实际生成文件数: 131072
Size of single file: 8K
Theoretical size: 1.00 GB
The actual occupied space size: 1.1G
Space magnification ratio: 1.10x
Total elapsed time: 0小时17分22秒
Average speed: 1006.31 KB/s
The amount of data written to disk: 1.85 GB


### XFS on HDD

#### filesize=1K, blocksize=1K, files=1024 * 1024 

作业开始时间: 2025-05-08 22:24:45
目标生成文件数: 1048576
每次生成文件数: 1024
总循环次数: 1024
存储目录: /data/HDD_Sdc_XFS_data/spaceoverheads_1K
临时日志目录: /tmp/fio_logs_1384090

进度: 已完成 100/1024 个循环 (9%)
进度: 已完成 200/1024 个循环 (19%)
进度: 已完成 300/1024 个循环 (29%)
进度: 已完成 400/1024 个循环 (39%)
进度: 已完成 500/1024 个循环 (48%)
进度: 已完成 600/1024 个循环 (58%)
进度: 已完成 700/1024 个循环 (68%)
进度: 已完成 800/1024 个循环 (78%)
进度: 已完成 900/1024 个循环 (87%)
进度: 已完成 1000/1024 个循环 (97%)

================ Final statistical report ================
Storage directory: /data/HDD_Sdc_XFS_data/spaceoverheads_1K
Blocksize(bs): 1K
实际生成文件数: 1048576
Size of single file: 1K
Theoretical size: 1.00 GB
The actual occupied space size: 4.1G
Space magnification ratio: 4.10x
Total elapsed time: 0小时19分56秒
Average speed: 876.74 KB/s
The amount of data written to disk: 4.86 GB

#### filesize=2K, blocksize=1K, files=1024 * 1024 /2

zhoujun@pcl-zj-x86-01:~/filebench/spaceoverheads$ ./spaceoverheads.sh 
[sudo] password for zhoujun: 

作业开始时间: 2025-05-08 22:54:11
目标生成文件数: 524288
每次生成文件数: 1024
总循环次数: 512
存储目录: /data/HDD_Sdc_XFS_data/spaceoverheads_2K
临时日志目录: /tmp/fio_logs_2550563

进度: 已完成 100/512 个循环 (19%)
进度: 已完成 200/512 个循环 (39%)
进度: 已完成 300/512 个循环 (58%)
进度: 已完成 400/512 个循环 (78%)
进度: 已完成 500/512 个循环 (97%)

================ Final statistical report ================
Storage directory: /data/HDD_Sdc_XFS_data/spaceoverheads_2K
Blocksize(bs): 1K
实际生成文件数: 524288
Size of single file: 2K
Theoretical size: 1.00 GB
The actual occupied space size: 2.1G
Space magnification ratio: 2.10x
Total elapsed time: 0小时28分39秒
Average speed: 609.99 KB/s
The amount of data written to disk: 3.95 GB


#### filesize=4K, blocksize=1K, files=1024 * 1024 /4

zhoujun@pcl-zj-x86-01:~/filebench/spaceoverheads$ ./spaceoverheads.sh 
[sudo] password for zhoujun: 

作业开始时间: 2025-05-09 10:02:20
目标生成文件数: 262144
每次生成文件数: 1024
总循环次数: 256
存储目录: /data/HDD_Sdc_XFS_data/spaceoverheads_4K
临时日志目录: /tmp/fio_logs_3135654

进度: 已完成 100/256 个循环 (39%)
进度: 已完成 200/256 个循环 (78%)

================ Final statistical report ================
Storage directory: /data/HDD_Sdc_XFS_data/spaceoverheads_4K
Blocksize(bs): 1K
实际生成文件数: 262144
Size of single file: 4K
Theoretical size: 1.00 GB
The actual occupied space size: 1.1G
Space magnification ratio: 1.10x
Total elapsed time: 0小时15分39秒
Average speed: 1.09 MB/s
The amount of data written to disk: 1.97 GB


#### filesize=8K, blocksize=1K, files=1024 * 1024 /8

zhoujun@pcl-zj-x86-01:~/filebench/spaceoverheads$ ./spaceoverheads.sh 
[sudo] password for zhoujun: 

作业开始时间: 2025-05-09 10:30:20
目标生成文件数: 131072
每次生成文件数: 1024
总循环次数: 128
存储目录: /data/HDD_Sdc_XFS_data/spaceoverheads_8K
临时日志目录: /tmp/fio_logs_3427344

进度: 已完成 100/128 个循环 (78%)

================ Final statistical report ================
Storage directory: /data/HDD_Sdc_XFS_data/spaceoverheads_8K
Blocksize(bs): 1K
实际生成文件数: 131072
Size of single file: 8K
Theoretical size: 1.00 GB
The actual occupied space size: 1.1G
Space magnification ratio: 1.10x
Total elapsed time: 0小时18分42秒
Average speed: 934.56 KB/s
The amount of data written to disk: 1.87 GB



### LSMFS on HDD

#### filesize=1K, blocksize=1K, files=1024 * 1024 

before:	41M		/dev/sdd1       3.6T   28G  3.4T   1% /data/HDD_Sdd_data
after:	964M	/dev/sdd1       3.6T   29G  3.4T   1% /data/HDD_Sdd_data

zhoujun@pcl-zj-x86-01:~/filebench/spaceoverheads$ ./spaceoverheads.sh 
检测到已存在目录，正在清空内容...
[sudo] password for zhoujun: 

作业开始时间: 2025-05-07 15:46:16
目标生成文件数: 1048576
每次生成文件数: 512
总循环次数: 2048
存储目录: /data/HDD_Sdd_data/lsmfs_test8
临时日志目录: /tmp/fio_logs_2177504

进度: 已完成 100/2048 个循环 (4%)
进度: 已完成 200/2048 个循环 (9%)
进度: 已完成 300/2048 个循环 (14%)
进度: 已完成 400/2048 个循环 (19%)
进度: 已完成 500/2048 个循环 (24%)
进度: 已完成 600/2048 个循环 (29%)
进度: 已完成 700/2048 个循环 (34%)
进度: 已完成 800/2048 个循环 (39%)
进度: 已完成 900/2048 个循环 (43%)
进度: 已完成 1000/2048 个循环 (48%)
进度: 已完成 1100/2048 个循环 (53%)
进度: 已完成 1200/2048 个循环 (58%)
进度: 已完成 1300/2048 个循环 (63%)
进度: 已完成 1400/2048 个循环 (68%)
进度: 已完成 1500/2048 个循环 (73%)
进度: 已完成 1600/2048 个循环 (78%)
进度: 已完成 1700/2048 个循环 (83%)
进度: 已完成 1800/2048 个循环 (87%)
进度: 已完成 1900/2048 个循环 (92%)
进度: 已完成 2000/2048 个循环 (97%)

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/lsmfs_test8
Blocksize(bs): 1K
实际生成文件数: 1048576
Size of single file: 1K
Theoretical size: 1.00 GB
The actual occupied space size: 0
Space magnification ratio: 0.00x
Total elapsed time: 0小时32分19秒
Average speed: 540.78 KB/s
The amount of data written to disk: 1.10 GB


#### filesize=2K, blocksize=1K, files=1024 * 1024 /2


before:	41M		/dev/sdd1       3.6T   28G  3.4T   1% /data/HDD_Sdd_data
after:	897M	/dev/sdd1       3.6T   29G  3.4T   1% /data/HDD_Sdd_data

zhoujun@pcl-zj-x86-01:~/filebench/spaceoverheads$ ./spaceoverheads.sh 
检测到已存在目录，正在清空内容...
[sudo] password for zhoujun: 

作业开始时间: 2025-05-07 16:28:13
目标生成文件数: 524288
每次生成文件数: 512
总循环次数: 1024
存储目录: /data/HDD_Sdd_data/lsmfs_test8
临时日志目录: /tmp/fio_logs_3462305

进度: 已完成 100/1024 个循环 (9%)
进度: 已完成 200/1024 个循环 (19%)
进度: 已完成 300/1024 个循环 (29%)
进度: 已完成 400/1024 个循环 (39%)
进度: 已完成 500/1024 个循环 (48%)
进度: 已完成 600/1024 个循环 (58%)
进度: 已完成 700/1024 个循环 (68%)
进度: 已完成 800/1024 个循环 (78%)
进度: 已完成 900/1024 个循环 (87%)
进度: 已完成 1000/1024 个循环 (97%)

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/lsmfs_test8
Blocksize(bs): 1K
实际生成文件数: 524288
Size of single file: 2K
Theoretical size: 1.00 GB
The actual occupied space size: 0
Space magnification ratio: 0.00x
Total elapsed time: 0小时16分24秒
Average speed: 1.04 MB/s
The amount of data written to disk: 995.80 MB



#### filesize=4K, blocksize=1K, files=1024 * 1024 /4

before:	41M		/dev/sdd1       3.6T   28G  3.4T   1% /data/HDD_Sdd_data
after:	842M	/dev/sdd1       3.6T   29G  3.4T   1% /data/HDD_Sdd_data

zhoujun@pcl-zj-x86-01:~/filebench/spaceoverheads$ ./spaceoverheads.sh 
检测到已存在目录，正在清空内容...
[sudo] password for zhoujun: 

作业开始时间: 2025-05-07 22:54:47
目标生成文件数: 262144
每次生成文件数: 512
总循环次数: 512
存储目录: /data/HDD_Sdd_data/lsmfs_test8
临时日志目录: /tmp/fio_logs_4105488

进度: 已完成 100/512 个循环 (19%)
进度: 已完成 200/512 个循环 (39%)
进度: 已完成 300/512 个循环 (58%)
进度: 已完成 400/512 个循环 (78%)
进度: 已完成 500/512 个循环 (97%)

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/lsmfs_test8
Blocksize(bs): 1K
实际生成文件数: 262144
Size of single file: 4K
Theoretical size: 1.00 GB
The actual occupied space size: 0
Space magnification ratio: 0.00x
Total elapsed time: 0小时8分28秒
Average speed: 2.02 MB/s
The amount of data written to disk: 888.61 MB

#### filesize=8K, blocksize=1K, files=1024 * 1024 /8

before:	41M		/dev/sdd1       3.6T   28G  3.4T   1% /data/HDD_Sdd_data
after:	763M	/dev/sdd1       3.6T   29G  3.4T   1% /data/HDD_Sdd_data

zhoujun@pcl-zj-x86-01:~/filebench/spaceoverheads$ ./spaceoverheads.sh 
检测到已存在目录，正在清空内容...
[sudo] password for zhoujun: 

作业开始时间: 2025-05-07 23:14:07
目标生成文件数: 131072
每次生成文件数: 512
总循环次数: 256
存储目录: /data/HDD_Sdd_data/lsmfs_test8
临时日志目录: /tmp/fio_logs_233834

进度: 已完成 100/256 个循环 (39%)
进度: 已完成 200/256 个循环 (78%)

================ Final statistical report ================
Storage directory: /data/HDD_Sdd_data/lsmfs_test8
Blocksize(bs): 1K
实际生成文件数: 131072
Size of single file: 8K
Theoretical size: 1.00 GB
The actual occupied space size: 0
Space magnification ratio: 0.00x
Total elapsed time: 0小时4分24秒
Average speed: 3.88 MB/s
The amount of data written to disk: 722.58 MB